
.home {
    margin-left: 24%;
    background-color: white;
    color: black;
}

.darkhome {
    margin-left: 24%;
    background-color: #292d31;
    color: #ffffff;
}

.head {
    margin-left: 19%;
    margin-bottom: 3rem;
}

.khane {
    width: 650px;
    height: 350px;
    margin-left: 10%;
    border-radius: 14px;
}